header ul li:nth-child(3){
    background-color: #032d3a; 
}

main div {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

main section{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 3%;
    background-color:#022935;
    border: solid 5px #03989E;
    padding: 2.5% 10%;
    border-radius: 15px;
    color: antiquewhite;
    font-size: 1.3rem;
    text-align: justify;
}

main div img{
    width: 75%;
}

main section img{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section p{
    width: 100%;
    margin: 0.5rem;
}